@font-face {
  font-family: 'Cormorant';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/CormorantGaramond-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/CormorantGaramond-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'NunitoSans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/NunitoSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'NunitoSans';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/NunitoSans-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'NunitoSans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/NunitoSans-Bold.ttf') format('truetype');
}